﻿@model Volunteer_Iowa_Site.Models.County

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>County</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.countyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.countyName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.countyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
