﻿@model IEnumerable<Volunteer_Iowa_Site.Models.County>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.countyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.countyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.countyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.countyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.countyID })
        </td>
    </tr>
}

</table>
