﻿@{
    ViewBag.Title = "Volunteer Information";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Currently the average Iowan volunteers 34.2 hours per year. If Iowans increased how much time they give 
annually to 50 hours, an increase of fewer than 16 hours per resident, volunteers would be providing an 
additional $1 billion worth of services to Iowa. Or, if each resident gave less than 20 minutes more per day for 
a total of just one additional hour a week, we could be providing a total volunteer contribution of nearly $3 
billion in services to Iowa.
    </p>

    <p>
        In addition to these benefits to the community, research has shown that a contribution of 50 hours tends to be 
the minimum threshold, or a tipping point, for maximizing impact both to the individual volunteer and the 
benefactor of his or her service:
    </p>

</article>

<aside>
    <h3>Quick Links</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>