﻿@{
    ViewBag.Title = "Contact Information";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(515)725-3010</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>1-800-3085987</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Webmaster:</span>
        <span><a href="mailto:icvs@iowa.gov">icsv@iowa.gov</a></span>
    </p>
    <p>
        <span class="label">Promotion and Events:</span>
        <span><a href="mailto:jody.benz@iowa.gov">jody.benz@iowa.gov</a></span>
    </p>
    <p>
        <span class="label">Listserv Signup:</span>
        <span><a href="http://www.iowaeconomicdevelopment.com/aspx/Login/Login.aspx?navid=56&pnavid=0">Learn more…</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        200 East Grand Avenue<br />
        Des Moines, IA 50309
    </p>
</section>