﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>Welcome to the What's Your 50 Project Homepage</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        First time visitor? Create an account by going to the upper right hand corner of the page. You can easily track your hours
        by creating an account or simply logging in with popular social media websites like Facebook or Twitter.
    </li>

    <li class="two">
       <h5>Already have an account?</h5>
        Simply log on and view your log to check your progress. If you just got done volunteering somewhere make sure 
        to always keep your hours updated to help Iowa reach our goal!

    </li>

    <li class="three">
        <h5>Need Help finding a place to volunteer?</h5>
        We have set up a database to allow all our volunteers to quickly and easily find organizations they are intrested in and need help.
        Simply follow the link to find out more
        <a href="http://volunteer.truist.com/icovs/volunteer">Learn more…</a>
    </li>
</ol>
