﻿@model Volunteer_Iowa_Site.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>City</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.county.countyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.county.countyName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.cityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
