﻿@model Volunteer_Iowa_Site.Models.City

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>City</legend>

        @Html.HiddenFor(model => model.cityID)

        <div class="editor-label">
            @Html.LabelFor(model => model.cityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cityName)
            @Html.ValidationMessageFor(model => model.cityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.countyID, "county")
        </div>
        <div class="editor-field">
            @Html.DropDownList("countyID", String.Empty)
            @Html.ValidationMessageFor(model => model.countyID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
