﻿@model IEnumerable<Volunteer_Iowa_Site.Models.Cities>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.county.countyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.county.countyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cityID })
        </td>
    </tr>
}

</table>
