﻿@model IEnumerable<Volunteer_Iowa_Site.Models.Log>

@{
    ViewBag.Title = "All";
}

<h2>Create</h2>
<div><h3>Total Hours: </h3>@ViewBag.logHours
</div>
     
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoursLogged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orginization.orgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hoursLogged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orginization.orgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.logID }) |
            @Html.ActionLink("Details", "Details", new { id=item.logID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.logID })
        </td>
    </tr>
}

</table>
