﻿@model Volunteer_Iowa_Site.Models.Log

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.hoursLogged)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hoursLogged)
            @Html.ValidationMessageFor(model => model.hoursLogged)
        </div>
        <!--
        <div class="editor-label">
            Html.LabelFor(model => model.userId, "UserProfile")
        </div>
        <div class="editor-field">
            Html.DropDownList("userId", String.Empty)
            Html.ValidationMessageFor(model => model.userId)
        </div>
            -->
        <div class="editor-label">
            @Html.LabelFor(model => model.orgID, "Orginization")
        </div>
        <div class="editor-field">
            @Html.DropDownList("orgID", String.Empty)
            @Html.ValidationMessageFor(model => model.orgID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eventID, "Event")
        </div>
        <div class="editor-field">
            @Html.DropDownList("eventID", String.Empty)
            @Html.ValidationMessageFor(model => model.eventID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
