﻿@model Volunteer_Iowa_Site.Models.Log

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Log</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoursLogged)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoursLogged)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Orginization.orgName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Orginization.orgName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Event.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
