﻿@model Volunteer_Iowa_Site.Models.Log

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Log</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoursLogged)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoursLogged)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Orginization.orgName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Orginization.orgName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Event.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.logID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
