﻿@model IEnumerable<Volunteer_Iowa_Site.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div><h3>Total Hours: </h3>@ViewBag.logHours Hours
</div>

<div class="progress">
      @ViewBag.percent % Complete
<div class="meter orange"><span style="width: @ViewBag.percent%"></span></div></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Add Event", "Create", "Event")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoursLogged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orginization.orgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hoursLogged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orginization.orgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.logID }) |
            @Html.ActionLink("Details", "Details", new { id=item.logID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.logID })
        </td>
    </tr>
}

</table>
