﻿@model Volunteer_Iowa_Site.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Address</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.addressLineOne)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.addressLineOne)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.addressLineTwo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.addressLineTwo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.addressZip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.addressZip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City.cityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.cityName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.addressID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
