﻿@model Volunteer_Iowa_Site.Models.Address

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Address</legend>

        @Html.HiddenFor(model => model.addressID)

        <div class="editor-label">
            @Html.LabelFor(model => model.addressLineOne)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressLineOne)
            @Html.ValidationMessageFor(model => model.addressLineOne)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addressLineTwo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressLineTwo)
            @Html.ValidationMessageFor(model => model.addressLineTwo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addressZip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressZip)
            @Html.ValidationMessageFor(model => model.addressZip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cityId, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("cityId", String.Empty)
            @Html.ValidationMessageFor(model => model.cityId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
