﻿@model IEnumerable<Volunteer_Iowa_Site.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.addressLineOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressLineTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.cityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.addressLineOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressLineTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.cityName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.addressID }) |
            @Html.ActionLink("Details", "Details", new { id=item.addressID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.addressID })
        </td>
    </tr>
}

</table>
