﻿@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
@Html.Partial("../Partial Models/Event")
@Html.Partial("../Partial Models/Address")
@Html.Partial("../Partial Models/City")
    
 <fieldset><legend>Event</legend>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
