﻿@model Volunteer_Iowa_Site.Models.Address

    <fieldset>
        <legend>Address</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.addressLineOne)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressLineOne)
            @Html.ValidationMessageFor(model => model.addressLineOne)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addressLineTwo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressLineTwo)
            @Html.ValidationMessageFor(model => model.addressLineTwo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.addressZip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.addressZip)
            @Html.ValidationMessageFor(model => model.addressZip)
        </div>

    </fieldset>
