﻿@model Volunteer_Iowa_Site.Models.City

    <fieldset>
        <legend>City</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.cityID, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("cityID", String.Empty)
            @Html.ValidationMessageFor(model => model.cityID)
        </div>

    </fieldset>
