﻿@model Volunteer_Iowa_Site.Models.County

    <fieldset>
        <legend>County</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.countyID, "County")
        </div>
        <div class="editor-field">
            @Html.DropDownList("countyID", String.Empty)
            @Html.ValidationMessageFor(model => model.countyID)
        </div>

    </fieldset>
